{% extends 'Home/index.html' %} 
{% block content %}
<!-- Navigation Bar -->

<div class="d-flex align-items-center justify-content-center min-vh-100 bg-light">
  <div class="jumbotron text-center py-5 bg-info text-white">
    <h1 class="display-3 mb-4">Welcome to MGM Teaching Feedback</h1>
    <p class="lead mb-4">Give feedback on teaching faculty at MGMCET, Navi Mumbai</p>
    <hr class="my-4 w-50 mx-auto bg-white" />
    <p class="mb-4">If you are a student who wishes to give feedback, click "Enter as student"</p>
    <div>
      <a class="btn btn-success btn-lg mr-2" role="button" href="{% url 'GetFeedbackView' %}">Enter as students</a>
      <a class="btn btn-warning btn-lg ml-2" role="button" href="{% url 'LoginView' %}">Login as admin</a>
    </div>
  </div>
</div>
{% endblock content %}